body {
    font-family: Tahoma, sans-serif;
}

.add-note {
    width: 100%;
    display: flex;
    justify-content: end;
}

.container {
    max-width: 50rem;
    width: 100%;
    margin: 0 auto;
}

table {
    border-spacing: 0;
    color: white;
    font-size: 1rem;
    border-spacing: 0 1em;
}

thead {
    background-color: #999999;
    border-radius: 10px;
}

tbody {
    color: black;
}

td,
th {
    padding: 0.5rem;
}

#show-archived {
    filter: invert(99%) sepia(12%) saturate(61%) hue-rotate(295deg) brightness(116%) contrast(100%);
}

#show-archived:hover {
    filter: invert(94%) sepia(1%) saturate(659%) hue-rotate(105deg) brightness(89%) contrast(92%);
}

.note-row {
    background-color: #e8eaf5;
    border-radius: 10px;
}

/* .note-row .content-cell {
    max-width: 4rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} */

.action-cell {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 0.5rem;
    filter: invert(47%) sepia(0%) saturate(196%) hue-rotate(148deg) brightness(101%) contrast(86%);
}

.action-cell img:hover {
    filter: invert(85%) sepia(100%) saturate(2%) hue-rotate(67deg) brightness(104%) contrast(101%);
}
